* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
    padding: 40px 20px;
}


#form-socio {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
    background: white;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
}


.socio-card {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    background: white;
    padding: 16px 20px;
    border-radius: 8px;
    max-width: 400px;
    margin-bottom: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.50);
    transition: transform 0.15s, box-shadow 0.15s;
}


.socio-card:hover {
    transform: translateY(-3px);/*Efecto de que la tarjeta se levanta*/
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.60);/*Esto es para que la sombra de la card se refuerce al momento de que esta se levante*/
}


.socio-card strong {
    font-size: 16px;
    margin-bottom: 4px;
}

.socio-card span {
    font-size: 14px;
    color: #555;
    margin-bottom: 16px;
}

.avatar {
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 50%;
    background-color: #2563eb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40%;
}

.socio-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 40px;
}

.contenedor-principal {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
}

button {
    background-color: #2563eb;
    color: white;
    border: none; /*Para borrar el borde gris feo de los botones*/
    padding: 12px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;/*Para poner la manito al estar en el boton*/
    transition: background-color 0.2s; /*Transicion al tener el mouse encima*/
}


button:hover {
    background-color: #011452;
}


input {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

input:focus {
    border-color: #2563eb;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 10%;
    color: #111;
}

h2 {
    font-size: 18px;
    font-weight: 1000;
    color: #555;
    margin-top: 20px;
    margin-left: 21%;
    
}

#lista-socios {
    margin-top: 80px;
}